<p-table 
    #dt2 
    [value]="(users$ | async) || []" 
    [paginator]="true" 
    [rows]="5" 
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"

    dataKey="id"
    [loading]="loading"
    [globalFilterFields]="['id', 'firstName', 'lastName', 'email']"
>
    <ng-template pTemplate="caption">
        <div class="flex flex-row justify-content-between">
            <div class="flex flex-row gap-2">
                <p-button severity="warning" icon="pi pi-file-export" pTooltip="Exporter en pdf" placeholder="Bottom"></p-button>
                <p-button severity="success" icon="pi pi-file-export" pTooltip="Exporter en csv" placeholder="Bottom"></p-button>
            </div>
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Rechercher" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="id" 
                    matchMode="contains"
                    placeholder="Filtrer par ID"
                    ariaLabel="Filter ID"
                />
            </th>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="firstName" 
                    matchMode="contains" 
                    placeholder="Filtrer par nom" 
                    ariaLabel="Filter first name" 
                />
            </th>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="lastName" 
                    matchMode="contains" 
                    placeholder="Filtrer par nom de famille" 
                    ariaLabel="Filter last name" 
                />
            </th>
            <th>
                <p-columnFilter
                    type="text"
                    field="email"
                    matchMode="contains"
                    placeholder="Filtrer par email"
                    ariaLabel="Filter Email"
                />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr *ngIf="user">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">Aucune donnée trouvée.</td>
        </tr>
    </ng-template>
</p-table>
<!-- <div *ngIf="user$ | async as user;">
    <h1>{{ user.firstName }}</h1>
    <p>{{ user.email }}</p>
</div> -->