<p-table [value]="(users$ | async) || []" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr *ngIf="user">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </ng-template>
</p-table>
<!-- <div *ngIf="user$ | async as user;">
    <h1>{{ user.firstName }}</h1>
    <p>{{ user.email }}</p>
</div> -->