iframe {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

// iframe {
//     -ms-zoom: 0.5;
//     -moz-transform: scale(0.5);
//     -moz-transform-origin: 0 0;
//     -o-transform: scale(0.5);
//     -o-transform-origin: 0 0;
//     -webkit-transform: scale(0.5);
//     -webkit-transform-origin: 0 0;
// }